/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
}


body{
  width: 100vw;
  background-color: #ECECEC;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: #021722;
}


header{
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #043249;
  height: 96px;
  width: 100vw;
  color: #ECECEC;

  display: grid;
  grid-template:
    "... logo   ...... ...... ..."
    "... logo   ...... user   ..." 40px
    "... logo   ...... ...... ..." 24px
    / 20px 150px 1fr auto 20px;
}

header .logo-home{
  height: 96px;
  grid-area: logo;
}

header .logo-home:hover::before{
  content: '';
  position: absolute;
  left: 180px;
  top: 25%;
  display: inline-block;
  width: 3px;
  height: 60%;
  background-color: #FFB649;
}

header .login{
  grid-area: user;

  display: flex;
  justify-content: flex-end;
}

header .button{
  margin-left: 10px;
  border: 3.5px solid #ECECEC;
  border-radius: 8px;
  /* background-color: rgba(0,0,0,0); */
  background-color: #043249;
  height: 100%;
  color: #ECECEC;
  font-size: 18px;
  font-weight: bold;
}

header .button:hover{
  border-color: #FFB649;
  background-color: rgba(0,0,0,0);
}

header .user{
  grid-area: user;

  display: flex;
  justify-content: flex-end;
}

header .icon{
  height: 100%;
  max-width: 80px;
  width: auto;
}

header .info{
  margin-left: 10px;
  /* height: 100%; */
  font-size: 22px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  letter-spacing: 0.2rem;
}

header a:link, a:visited{
  text-decoration: none;
  color: #ECECEC;
  display: flex;
  justify-content: flex-end;
}

header a:hover{
  color: #FFB649;
}

.content>div{
  position: relative;
  min-height: calc(100vh - 96px);
  width: 100vw;
  margin-top: 96px;
  border: solid #021722;
  border-width: 0 2px 0 2px;
}
.content nav{
  position: fixed;
  height: calc(100vh - 96px);
  width: 250px;
  border-right: 2px solid #021722;
  top: 96px;
  display: flex;
  flex-direction: column;
}
.content main{
  width: 800px;
  margin: 0px auto 0px 24%;
  border-left: 2px solid #021722;
  border-right: 2px solid #021722;
  /* margin: 0px auto 0px 250px; */
  /* margin-left: 30%; */
  /* padding: 20px; */
}
.content ul{
  padding: 0;
  list-style: none;
}
.content li{
  margin: 20px 0px;
}
.content a:link{
  text-decoration: none;
  color: #043249;
}
.content a:visited{
  text-decoration: none;
  color: #074F73;
}
.content a:hover{
  text-decoration: none;
  color: #FFB649;
}

footer{
  display: none;
}

@media screen and (max-width: 1100px) {
  body{
    margin-bottom: 90px;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .content>div{
    flex: 1;
    border: none;
  }
  .content nav{
    box-sizing: border-box;
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    height: 90px;
    width: 100vw;
    top: auto;
    bottom: 0;
    left: 0;
    background-color: #043249;
  }
  .content nav .icon{
    display: inline-block;
    height: 100% !important;
    width: auto !important;
    max-width: 180px;
  }
  .content .name,.content .detail{
    display: none;
  }
  .content ul{
    display: flex;
    align-items: center;
    padding: 0 !important;
  }
  .content li{
    display: block;
    margin: 0;
    padding: 10px;
    border-left: 1px solid #021722;
  }
  .content a:link,.content a:visited{
    color: #ECECEC;
    font-size: 14px;
  }
  .content .side-footer{
    display: none;
  }
  .content main{
    margin: 0;
    border: none;
    width: 100vw;
  }

  footer{
    display: block;
    height: 20px;
    background-color: #043249;
    color: #ECECEC;
  }
}