// Place all the styles related to the students and teachers _following controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Variables
$font-size: 14px;
$line-height: 1.4;
$lines: 2;

.student_followings-show,.teacher_followings-show{
  display: flex;
  nav{
    .my-info{
      border-bottom: 2px solid #021722;
      .icon{
        display: block;
        margin: auto;
        width: 80%;
        height: auto;
      }
      .name{
        margin: 10px 10px;
        font-size:22px;
        font-weight: bold;
      }
      .detail{
        margin: 10px 10px;
        span{
          font-weight: bold;
        }
        .subject{
          margin: 10px 0px;
          overflow:hidden;
          padding-right: 10px;
          font-size: $font-size;
          height: $font-size*$line-height*$lines;
          line-height: $line-height;
          position: relative;
          &:before,
          &:after {
            position: absolute;
          }
          &:before {
            content: "...";
            top: $font-size*$line-height*($lines - 1);
            right: 0;
          }
          &:after {
            background-color: #ECECEC;
            content: "";
            height: 100%;
            width: 100%;
          }
        }
        .profile{
          overflow: hidden;
          margin: 10px 0px;
          padding-right: 10px;
          font-size: $font-size;
          height: $font-size*$line-height*($lines + 1);
          line-height: $line-height;
          position: relative;
          &:before,
          &:after {
            position: absolute;
          }
          &:before {
            content: "...";
            top: $font-size*$line-height*($lines + 0);
            right: 0;
          }
          &:after {
            background-color: #ECECEC;
            content: "";
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .gnavi{
      flex: 1;
      border-bottom: 2px solid #021722;
      padding: 9px 15px;
      font-size:22px;
      font-weight: bold;
    }
    .side-footer{
      padding: 5px 10px;
      background-color: #043249;
      color: #ECECEC;
    }
  }

  main{
    h3{
      display: inline-block;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
    }
    display: flex;
    .user{
      padding: 10px 0px;
      border-bottom: 1px solid #021722;
      display: flex;
      .icon{
        width: 100px;
      }
      .info{
        padding-top: 5px;
        padding-left: 10px;
        height: 100%;
        .name{
          font-size: 22px;
        }
        .button{
          display: inline-block;
          line-height: 1.4;
          margin: 0;
          padding: 0px 5px;
          border-right: 3px solid #021722;
          border-bottom: 3px solid #6E7578;
          border-radius: 4px;
          background-color: #043249;
          text-align: center;
          color: #ECECEC;
          font-size: 18px;
          font-weight: normal;
          &:hover{
            color: #FFB649;
            cursor: pointer;
          }
          &:active{
            border: none;
         }
        }
        .comment{
          color: red;
          font-weight: normal;
        }
      }
    }
    .followings{
      flex: 1;
      padding: 5px;
      border-right: 1px solid #021722;
    }
    .followers{
      flex: 1;
      padding: 5px;
      border-left: 1px solid #021722;
    }
  }
}